h1 {
  text-align: center;
  padding: 2em 0;
}

h2 {
  padding: 1em 0;
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 
    "hd hd"
    "mn sd"
    "ft ft"
  ;
  gap: 1em;
}

header {
  grid-area: hd;
}

main {
  grid-area: mn;
}

aside {
  grid-area: sd;
  padding: 2em 0;
}

footer {
  grid-area: ft;
  text-align: center;
  padding: 5em 0;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
